body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
    overflow: hidden;
    height: 20vh;
  }
  
  #rotateScreen{
    display: none;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  
  #displayContent{
    display: none;
    width: 100vh;
    height: 100vw;
    transform-origin: right top;
    transform:rotate(-90deg) translateY(-50vh);
    overflow-y: scroll;
    overflow-y: hidden;
    position: relative;
  }  

  #displayContent p {
    width: 100px;
    height: 30vh;
    transform: rotate(90deg) translateY(-80vh);
    transform-origin: right top;
  }

  